<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jellybeanclipboard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.code4reference.rakesh.jellybeanclipboard.JBClipboard"
            android:label="@string/title_activity_jbclipboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.code4reference.rakesh.jellybeanclipboard.ClipdataIntentActivity"
            android:label="@string/title_activity_clipdataintent" >
        </activity>
        <activity android:name="com.code4reference.rakesh.jellybeanclipboard.HtmlIntentActivity"
            android:label="@string/title_activity_htmlintent" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- This activity will get launched when proper intent type will match
                in this case "text/html" -->
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>
    </application>

</manifest>